In [2]:
import pandas as pd
df_single_level_cols = pd.DataFrame([[0, 1], [2, 3]],

                                    index=['cat', 'dog'],

                                    columns=['weight', 'height'])

In [3]:
df_single_level_cols

     weight  height
cat       0       1
dog       2       3

In [6]:
df_single_level_cols.stack()

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [7]:
df_single_level_cols.stack().reset_index()

  level_0 level_1  0
0     cat  weight  0
1     cat  height  1
2     dog  weight  2
3     dog  height  3

In [13]:
df_single_level_cols.stack().reset_index().sort_values(0, ascending=False)

  level_0 level_1  0
3     dog  height  3
2     dog  weight  2
1     cat  height  1
0     cat  weight  0